<p id="notice"><%= notice %></p>

<h1>Bloggo Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="title">
              <h1><%= link_to post.title, post %></h1>
            </div>
            <br>
            <p>Author: <strong><%= post.author %></strong></p>
        </div>
        <div class="panel-body">
          <p><%= truncate(post.entry, length:300, omission: ' ... continued') %> <%= link_to 'Continue Reading', post %></p>
          <p> <%= link_to 'Continue Reading', post %></p>
        </div>
        <div class="panel-footer button">
            <p><%= link_to 'Edit', edit_post_path(post), class: "btn btn-info"%> </p>
            <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
